{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TODO LIST</title>
    <link href="{% static 'todo/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'todo/icon/favicon.ico' %}" rel="icon">
    <script src="{% static 'todo/js/script.js' %}" defer></script>
</head>

<body>

    <header>
        <h1>Todo List Powered by Django and PostgreSQL</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'todo:index' %}">Homepage</a></li>
            <li><a href="https://docs.djangoproject.com/en/4.2/" target="_blank">Django Docs</a></li>
            <li><a href="https://go.dev/" target="_blank">Go Official Docs</a></li>
            <li><a href="https://www.python.org/doc/" target="_blank">Python Docs</a></li>
            <li><a href="https://developer.mozilla.org/en-US/" target="_blank">MDN</a></li>
            <li><a href="https://github.com/public-apis/public-apis" target="_blank">Public APIs</a></li>
        </ul>
    </nav>


    <main>
        <article>
            <form method="post" action="{% url 'todo:index' %}">
                {% csrf_token %}
                <p class="form-line">
                    <label for="item-text">Item:</label>
                    <input type="text" name="item" id="item-text" placeholder="Add a new task~" required>
                    <input type="submit" value="Submit" />
                </p>
            </form>

        {% comment %} <table border="1" cellspacing="0" cellpadding="8"> {% endcomment %}
        <table>
            <colgroup>
                <col style="background-color: #aff0f0; " />
                <col style="background-color: #c3e6fa; " />
                <col style="background-color: #e2cbf2; " />
                <col style="background-color: #ede6c5; " />
                <col style="background-color: #c9f5c9; " />
                <col style="background-color: #f5beba; " />
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Item</th>
                    <th>Completion Status</th>
                    <th>Action</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr data-id="{{ item.id }}">
                    <td>
                        <a href="{% url 'todo:todo_item' item.id %}" target="_blank">{{ item.id }}</a>
                    </td>
                    <td>{{ item.item }}</td>
                    <td>
                        {% comment %}
                        1. 如果已完成，则禁用两个 radio 按钮，用 input 元素的 disabled 属性实现
                        2. 基本逻辑: 
                        - 只能从未完成状态更新为已完成状态，不可能从已完成状态更新为未完成状态
                        - 创建 item 时，默认未完成状态
                        - 因此，只给 value='Yes'的 radio 按钮添加 onchange 属性，事件发生时用 updateCompletiondStatus 函数更新 item 的完成状态
                        {% endcomment %}
                        <label class='radio-label'>
                            <input
                            type="radio"
                            name="completion_status_{{ item.id }}"
                            value="Yes"
                            class="update-completion-status-btn"
                            data-id="{{ item.id }}"
                            {% if item.completed %}checked{% endif %}
                            {% if item.completed %}disabled{% endif %} 
                            >
                            <span>Yes</span>
                        </label>
                        <label class='radio-label'>
                            <input
                            type="radio"
                            name="completion_status_{{ item.id }}"
                            value="No"
                            {% if not item.completed %}checked{% endif %}
                            {% if item.completed %}disabled{% endif %}
                            >
                            <span>No</span>
                        </label>
                    </td>
                    <td>
                        <button class="delete-btn" data-id="{{ item.id }}">Delete</button>
                        <button class="update-btn" data-id="{{ item.id }}">Update</button>
                    </td>
                    <td>
                        {{ item.created_at|date:"m-d H:i" }}
                    </td>
                    <td>
                        {{ item.updated_at|date:"m-d H:i" }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </article>
    </main>
</body>
</html>
