<!--{% load static %}-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TODO TEST</title>
    <link href="{% static 'todo/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'todo/icon/favicon.ico' %}" rel="icon">
</head>

<body>

    <header>
        <h1>Todo List Powered by Django</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'todo:index' %}">Homepage</a></li>
            <li><a href="https://developer.mozilla.org/en-US/" target="_blank">MDN</a></li>
            <li><a href="https://www.google.com" target="_blank">Google</a></li>
            <li><a href="https://www.baidu.com" target="_blank">Baidu</a></li>
            <li><a href="https://www.apple.com" target="_blank">Apple</a></li>
            <li><a href="https://www.amazon.com" target="_blank">Amazon</a></li>
            <li><a href="https://www.alibaba.com/" target="_blank">Alibaba</a></li>
            <li><a href="https://www.jd.com/" target="_blank">JD</a></li>
            <li><a href="https://www.taobao.com/" target="_blank">Taobao</a></li>
            <li><a href="https://vuejs.org/" target="_blank">Vue.js</a></li>
        </ul>
    </nav>

    <main>
        <article>
        <h2>Please input your item</h2>
            <form method="post" action="{% url 'todo:add' %}">
                {% csrf_token %}
                <p class="form-line">
                    <label for="item_id">Item:</label>
                    <input type="text" name="item" id="item_id" placeholder="Add a new task~" required>
                    <input type="submit" value="Submit" />
                </p>
            </form>
        <hr>

        <h2>Todo items is shown as below:</h2>
        <table border="1" cellspacing="0" cellpadding="8">
            <colgroup>
                <col style="background-color: #aff0f0; " />
                <col style="background-color: #c3e6fa; " />
                <col style="background-color: #e2cbf2; " />
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Item</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <a href="{% url 'todo:detail' item.id %}">{{ item.id }}</a>
                    </td>
                    <td>{{ item.item }}</td>
                    <td>
                        {% if item.completed %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <!-- 如果items为空列表，则执行以下代码 -->
                <tr>
                    <td colspan="3">No todo items yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </article>
    </main>
</body>
</html>
