html, body {
  margin: 0;
  padding: 0;
  background-image: url(../img/background.jpg);
}

html {
  font-size: 10px;
  background-color: lightgreen;
}

body {
  width: 70%;
  margin: 0 auto;
  border: 5px solid yellow;
}

h1, h2, h3 {
  font-family: 'Sonsie One', 'ZCOOL KuaiLe', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px   black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #66ccff;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition-duration: 200ms;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

nav a:hover {
  color: white;
  text-shadow: 0 0 10px wheat;
  transition-duration: 200ms;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

main {
    display: flex;
}

article {
    flex: 4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

input[type="text"] {
    width: 600px;
}

input[type="submit"] {
  background-color: #c97ee0;   /* 按钮背景色 */
  color: white;                /* 按钮文字颜色 */
  padding: 0.6rem 1.2rem;      /* 上下左右内边距 */
  font-size: 1.6rem;           /* 字体大小 */
  border-radius: 5px;          /* 圆角边框 */
  cursor: pointer;             /* 鼠标悬停时为手型 */
  transition: background-color 0.3s ease;
  width: 100px;
}

input[type="submit"]:hover {
  background-color: #c348e8;  /* 悬停时颜色更深 */
}

label {
  background-color: #6f71e8;   /* 按钮背景色 */
  color: white;                /* 按钮文字颜色 */
  padding: 0.6rem 1.2rem;      /* 上下左右内边距 */
  font-size: 1.6rem;           /* 字体大小 */
  border-radius: 5px;          /* 圆角边框 */
  cursor: pointer;             /* 鼠标悬停时为手型 */
  transition: background-color 0.3s ease;
  width: 30px;
}

table {
  width: 100%;
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  border: 1px solid black;
  padding: 8px;
}
